.DS_Store
.idea
.dev/
artifacts/
dist/
.cache/
node_modules/
src-tauri/target/
src-tauri/binaries/*
!src-tauri/binaries/.gitkeep
src-tauri/resources/models/*
!src-tauri/resources/models/.gitkeep
src-tauri/resources/models.stage/
src-tauri/resources/onnxruntime/*
!src-tauri/resources/onnxruntime/.gitkeep
src-tauri/resources/windows-runtime/

